table, td, tr{
border: 1px solid black;
border-collapse: collapse;
width: 900px;
height: 250px
}

.blue{
background-color: blue;
}

.red{
background-color: red;  
}

.yellow{
background-color: yellow;
}

.black{
background-color: black;    
}

.green{
background-color: lime;
}